<?php
return array(
    'api' => array(
       'username' 				=> '',
       'password' 				=> '',
       'signature'				=> '',
       'endpoint'               => 'https://api-3t.sandbox.paypal.com/nvp'
    )
);