<?php
return array(
    'speck-paypal-api' => array(
       'username' 				=> '',
       'password' 				=> '',
       'signature'				=> '',
       'endpoint'               => 'https://api-3t.sandbox.paypal.com/nvp' //;Live URL: https://api-3t.paypal.com/nvp
    )
);